.title-shop {
  width: 100vw;
  height: 100px;
  background-color: rgba(255, 123, 0, 0.151);
}
.left-filter-side {
  border: 1px solid rgb(224, 224, 224);
  width: 250px;
  height: auto;
  background-color: rgb(255, 252, 248);
  margin: 0 7vw;
  border-radius: 10px;
  margin-top: 30px;
}
.header-right-filter-side {
  display: flex;
  justify-content: space-between;
  width: 90vw;
  flex-wrap: wrap;
  margin-left: -100px;
}
.app-card-shop {
  /* flex-wrap: wrap; */
  margin-top: 50px;
  margin-left: -80px;
}
.img-shop-shop {
  width: 75% !important;
  margin: auto;
}
.card-app-map {
  border: none !important;
  border-right: 1px solid #f1f1f1 !important;
  margin-bottom: 0px;
  padding: -10px !important;
  max-width: 250px !important;
}
.btn-btn-shop-cart {
  transition: all 0.5s ease;
}
.btn-btn-shop-cart:hover {
  background-color: rgb(255, 140, 0) !important;
  transition: all 0.5s ease;
}
.app-filter-card {
  display: flex;
  flex-wrap: wrap;
}
.child-filter-card {
  width: 250px;
}
.home-images-app {
  display: flex;
  margin: 50px 100px;
  justify-content: center;
  align-items: flex-start;
}
.home-images-left {
  width: 50%;
  margin-left: -100px;
}
.home-title-right {
  width: 50%;
}
.app-weight{
  display: flex;
  margin-top: 50px;
  flex-direction: column;
}
@media (max-width: 1600px) {
  .left-filter-side {
    margin: 0 1vw;
    margin-top: 30px;
  }
  .header-right-filter-side {
    width: 90vw;
    margin-left: -0px;
  }
  .app-card-shop {
    margin-left: 0px;
  }
}
@media (max-width: 1400px) {
  .left-filter-side {
    margin: 0 1vw;
    margin-top: 30px;
  }
  .header-right-filter-side {
    width: 90vw;
    margin-left: -0px;
  }
  .app-card-shop {
    margin-left: 0px;
  }
}
@media (max-width: 1024px) {
  .left-filter-side {
    display: none;
  }
  .app-card-shop {
    margin-left: 30px;
  }
  .header-right-filter-side {
    width: 85vw;
    margin-left: 20px;
  }
  .home-images-app {
    flex-direction: column;
  }
  .home-images-left {
    width: 100%;
    margin-left: -100px;
  }
  .home-title-right {
    width: 100%;
  }
  .home-images-left .img-app-move {
    margin-left: 200px !important;
  }
  .image-app-container {
    width: 100vw !important;
    margin: auto;
  }
  .home-title-right {
    width: 80vw !important;
    margin-left: -50px;
    
  }
}
@media (max-width: 768px) {
  .home-images-left .img-app-move {
    margin-left: 10px !important;
  }
  .image-app-container {
    width: 100vw !important;
    margin: auto;
  }
  .home-title-right {
    width: 90vw !important;
    margin-left: -100px;
  }
  .h6header {
    margin-left: -100px;
    width: 100vw;
  }
}
