.sliedd {
  margin: 0 200px;
  padding: 10px;
  overflow: hidden;
}
.left {
  transform: translateX(300px);
}
.imgcon {
  flex-shrink: 0;
  display: flex;
  flex-grow: 1;
  animation: floatImage 2s ease-in-out infinite;
}

@keyframes floatImage {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(1rem);
  }
  100% {
    transform: translateY(0%);
  }
}
/* .aws-btn--primary .aws-btn__content {
  background-color: rgb(165, 97, 42) !important;
  color: rgb(238, 255, 0) !important;
  font-size: 20px !important;
  transition: 0.6s;
  box-shadow: 2px 20px 20px rgba(255, 255, 255, 0.4) !important;
}
.aws-btn--primary .aws-btn__content:hover {
  background-color: rgb(0, 143, 187) !important;
  color: rgb(255, 217, 0) !important;
  font-size: 20px !important;
  transform: scale(1.01);
} */

.colorbutton
{
  width: 150px;
  border: none;
  border-radius: 5px;
  background-color:  rgb(165, 97, 42) !important;
  color: aliceblue;
  font-weight: 700;
  font-size: 22px;
  padding: 5px 10px;
  font-family: "Sriracha", cursive;
  font-weight: 600;
  font-style: normal;
  transition: 0.6s;
}
.colorbutton:hover{
  background-color:  rgb(255, 196, 0) !important;
  color: rgb(255, 0, 238);
}
@media (max-width: 1024px) {
  .sliedd {
    margin: 0 80px;
  }
  .imgcon {
    height: 30vh !important;
    flex-basis: 1;
    min-width: 270px;
  }
  .left {
    transform: translateX(0px);
  }
  .sliedd .left .head {
    font-size: 1.2rem;
  }
  .sliedd .left .content {
    font-size: 2.3rem;
    font-family: "Sriracha", cursive;
    font-weight: 600;
    font-style: normal;
  }
  .price {
    font-size: 1.3rem;
    font-family: "Sriracha", cursive;
    font-weight: 600;
    font-style: normal;
  }
}
@media (min-width: 1024px) and (max-width: 1400px) {
  .imgcon {
    min-height: 10vh;
    min-width: 200px;
  }
  .sliedd .left .head {
    font-size: 1rem;
  }
  .sliedd .left .content {
    font-size: 2rem;
    font-family: "Sriracha", cursive;
    font-weight: 600;
    font-style: normal;
  }
  .price {
    font-size: 1.3rem;
    font-family: "Sriracha", cursive;
    font-weight: 600;
    font-style: normal;
  }
}
@media (min-width: 1400px) {
  .imgcon {
    max-height: 30vh;
  }
  .sliedd .left .head {
    font-size: 1.2rem;
  }
  .sliedd .left .content {
    font-size: 2.3rem;
    font-family: "Sriracha", cursive;
    font-weight: 600;
    font-style: normal;
  }
  .price {
    font-size: 1.3rem;
    font-family: "Sriracha", cursive;
    font-weight: 600;
    font-style: normal;
  }
}

@media (max-width: 1400px) {
  .sliedd {
    margin: 0 80px;
  }
  .imgcon {
    min-width: 280px;
    max-height: 30vh;
  }
}

@media (max-width: 768px) {
  .sliedd {
    margin: 0 70px;
  }
  .imgcon {
    min-width: 220px;
    height: 25vh !important;
    flex-basis: 1;
  }
  .sliedd .left .head {
    font-size: 1rem;
  }
  .sliedd .left .content {
    font-size: 1.8rem;
    font-family: "Sriracha", cursive;
    font-weight: 600;
    font-style: normal;
  }
  .price {
    font-size: 1rem;
    font-family: "Sriracha", cursive;
    font-weight: 600;
    font-style: normal;
  }
}
@media (max-width: 600px) {
  .sliedd {
    margin: 0 40px;
  }
  .imgcon {
    min-width: 200px;
    height: 20vh !important;
   
  }
  .sliedd .left .head {
    font-size: 0.8rem;
  }
  .sliedd .left .content {
    font-size: 1.4rem;
    font-family: "Sriracha", cursive;
    font-weight: 600;
    font-style: normal;
  }
  .price {
    font-size: 0.9rem;
    font-family: "Sriracha", cursive;
    font-weight: 600;
    font-style: normal;
  }
  .aws-btn--primary .aws-btn__content{
    width: 20px !important;
  }
}
@media (max-width: 400px) {
  .sliedd {
    margin: 0 20px;
  }
  .imgcon {
    min-width: 150px;
    height: 20vh !important;
   
  }
  .sliedd .left .head {
    font-size: 0.5rem;
  }
  .sliedd .left .content {
    font-size: 1.2rem;
    font-family: "Sriracha", cursive;
    font-weight: 600;
    font-style: normal;
  }
  .price {
    font-size: 0.8rem;
    font-family: "Sriracha", cursive;
    font-weight: 600;
    font-style: normal;
  }
 
}