* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.ddfe {
  color: rgb(165, 97, 42);
  background-color: rgba(255, 123, 0, 0.151);
  color: rgb(255, 0, 208);
  color: rgb(0, 255, 242);
  color: rgba(255, 191, 134, 0.822);
  color: rgb(47, 165, 0);
  color: rgb(255, 196, 0);
  font-family: "Sriracha", cursive;
  font-weight: 600;
  font-style: normal;
  color: rgb(189, 189, 189);
}
